:root {
  --main-color: #ff4141;
  --menu-color: #919192;
  --heading-color: #4d4f5c;
  --text-color: #7c7c91;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
img {
  border-radius: 5px;
}

/* *********************************** 
  - Start Header
 *********************************** */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}
.main-menu,
.right-menu {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4rem;
}
.nav li,
.nav a {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav li a:link,
.nav li a:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--menu-color);
}
.nav .main-menu a:hover {
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
}
.nav svg {
  width: 2rem;
  height: 2rem;
}
/*---------------------------*/
.hero {
  width: 100%;
  height: 60rem;
  background: url("../images/hero-img.png");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero-content {
  width: 50%;
  text-align: center;
}
.hero-content button {
  background-color: var(--main-color);
  color: #fff;
  font-size: 2.5rem;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}
.hero-content p {
  font-size: 4rem;
  color: #fff;
}

.hero-content .info {
  margin: 0 auto;
  width: 50%;
  display: flex;
  color: #fff;
  font-size: 1.8rem;
  justify-content: space-around;
  align-items: center;
}
.hero-content .info li {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.hero-content .info svg {
  width: 2.4rem;
  height: 2.4rem;
}

/* *********************************** 
  - Start main content
 *********************************** */

.main-content {
  display: grid;
  grid-template-columns: 4fr 2.5fr;
  padding-top: 6.4rem;
  gap: 6.4rem;
  background-color: #f8f8f8;
}

.articles .article {
  border-bottom: 1px dashed #919192;
  text-align: center;
  margin-bottom: 3.6rem;
}
.article:last-of-type {
  border-bottom: none;
}
.article-content {
  padding: 0 4rem;
}
.article img {
  width: 100%;
}
.article .category:link,
.article .category:visited {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 2.4rem;
  display: inline-block;
  margin: 2rem 0;
}

.article h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
.article .info {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.article .info li {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.article p {
  font-size: 1.8rem;
  margin: 3rem 0;
}
.article .btn:link,
.article .btn:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--main-color);
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

/* *********************************** 
  - Start popular posts 
 *********************************** */
.aside {
  overflow: hidden;
}

.popular-posts h3 {
  font-size: 1.8rem;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 4rem;
  padding-bottom: 2rem;
}
.popular-posts .article {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2rem;
}

.popular-posts .content a:link,
.popular-posts .content a:visited {
  color: var(--text-color);
  font-size: 1.8rem;
}
.popular-posts .info {
  margin-top: 1.2rem;
}
.popular-posts .info li {
  font-size: 1rem;
}
