:root {
  --main-color: #ff4141;
  --menu-color: #919192;
  --heading-color: #4d4f5c;
  --text-color: #7c7c91;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
img {
  border-radius: 3px;
}

/* *********************************** 
  - Start Header
 *********************************** */
.header {
  position: relative;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.main-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav li,
.nav a {
  display: flex;
  align-items: center;
}
.nav li a:link,
.nav li a:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--menu-color);
}
.nav .main-menu a:hover {
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
}
.main-menus svg {
  width: 2rem;
  height: 2rem;
}
.btn-mobile {
  display: none;
  background: transparent;
  border: none;
}
.btn-mobile svg {
  width: 3rem;
  height: 3rem;
}

.btn-mobile .btn-close {
  width: 3.6rem;
  height: 3.6rem;
  display: none;
}
/*---------------------------*/
.hero {
  width: 100%;
  height: 60rem;
  background: url("../images/hero-img.png");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero-content {
  width: 50%;
  text-align: center;
}
.btn {
  background-color: var(--main-color);
  color: #fff;
  font-size: 2.5rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
}
.hero-content p {
  font-size: 4rem;
  color: #fff;
}

.hero-content .info {
  margin: 0 auto;
  width: 50%;
  display: flex;
  color: #fff;
  font-size: 1.8rem;
  justify-content: space-around;
  align-items: center;
}
.hero-content .info li {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.hero-content .info svg {
  width: 2.4rem;
  height: 2.4rem;
}

/* *********************************** 
  - Start main content
 *********************************** */

.main-content {
  display: grid;
  grid-template-columns: 4fr 2.5fr;
  padding-top: 6.4rem;
  gap: 6.4rem;
  background-color: #f8f8f8;
  margin-bottom: 12.8rem;
}

.articles .article {
  border-bottom: 1px dashed var(--menu-color);
  text-align: center;
  margin-bottom: 3.6rem;
}
.article:last-of-type {
  border-bottom: none;
}
.article-content {
  padding: 0 2rem;
}
.article img {
  width: 100%;
}
.category:link,
.category:visited {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 3px;
  padding: 1rem 2.4rem;
  display: inline-block;
}

.article h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: var(--heading-color);
}
.article .info {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.article .info li {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--menu-color);
}
.article p {
  font-size: 1.8rem;
  margin: 3rem 0;
  color: var(--text-color);
}
.article .read-more:link,
.article .read-more:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--main-color);
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

/* *********************************** 
  - Start popular posts 
 *********************************** */
.aside {
  overflow: hidden;
}

.categories h3,
.popular-posts h3,
.our-pics h3,
.tags h3,
.voting-poll h3 {
  font-size: 1.8rem;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.popular-posts .article {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2rem;
}

.popular-posts .content a:link,
.popular-posts .content a:visited {
  color: var(--heading-color);
  font-size: 1.8rem;
}
.popular-posts .info {
  margin-top: 1.2rem;
}
.popular-posts .info li {
  font-size: 1rem;
  color: var(--menu-color);
}

/* *********************************** 
  - Start our pics
 *********************************** */

.our-pics,
.categories,
.random-post,
.tags,
.voting-poll {
  margin-top: 9.6rem;
}
.our-pics .pic {
  margin-bottom: 2.4rem;
}
.our-pics img {
  width: 100%;
}
.our-pics .image {
  position: relative;
}
.our-pics .pic .category:link,
.our-pics .pic .category:visited {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0;
  font-size: 1.2rem;
}
.our-pics .content a:link,
.our-pics .content a:visited {
  font-size: 1.9rem;
  color: var(--heading-color);
  margin-top: 1rem;
  display: inline-block;
}
.our-pics .content .info {
  display: flex;
  gap: 3.6rem;
  margin-top: 1.2rem;
}
.our-pics .content .info li {
  display: flex;
  gap: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--menu-color);
}

/* *********************************** 
  - Start categories
 *********************************** */

.categories .category {
  padding: 1rem;
  border-bottom: 1px dashed var(--menu-color);
}
.categories .category a:link,
.categories .category a:visited {
  color: var(--heading-color);
  font-size: 1.8rem;
}

/* *********************************** 
  - Start tags
 *********************************** */

.tags .tag:link,
.tags .tag:visited {
  background-color: #e8e8e8;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 3px;
  font-size: 1.4rem;
  color: #707070;
  margin: 0.5rem 0.8rem;
}

/* *********************************** 
  - Start Voting poll
 *********************************** */
.voting-poll p {
  font-size: 2rem;
  color: var(--heading-color);
  margin-bottom: 2rem;
}
.voting-poll .input {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.voting-poll span {
  font-size: 1.8rem;
  color: var(--heading-color);
}
.voting-poll .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  margin-top: 2rem;
}
.voting-poll .btn {
  font-size: 2rem;
}
.voting-poll .results {
  font-size: 1.8rem;
  color: var(--heading-color);
}
